main{
    section{
        a{
            color: white;
            list-style-type: none;
          
        }
        a:hover{
            color: white;
        }
        h1{
            line-height: 3em;
        }
    }
}