main{
    section{
        padding-right: 10% !important;
        padding-left: 10% !important;
        table{
            
            tbody{
                tr:hover{
                    background-color: $digiyellow;
                }
            }
        }
        a{
            color: white;
            list-style-type: none;
          
        }
        a:hover{
            color: white;
        }
        h1{
            line-height: 3em;
        }
    }
}
